/*========================================
	Topics
========================================*/

	main.browse .topics summary {
		background-color: #282832;
	}

	main.browse .topics summary::before {
		transform: translatey(calc((3rem - 100%) / 2)) rotate(0.5turn);
	}

	main.browse .topics details[open] summary::before {
		transform: translatey(calc((3rem - 100%) / 2)) rotate(-0.25turn);
	}

	@media (min-width: 37.5rem) {
		main.browse .topics details[open] summary {
			color: #333;
		}

		main.browse .topics summary h2 {
			border-bottom-color: #cd2814;
		}
	}


/*========================================
	Results
========================================*/

	main.browse .results h2 {
		border-bottom-color: #cd2814;
	}

	ul.articles-list > li > p {
		color: #333;
	}


/*========================================
	Contact
========================================*/

	main.browse .contact h2 {
		border-bottom-color: #cd2814;
	}

	main.browse .contact dialog button {
		color: #333;
	}

	@media (min-width: 37.5rem) {
		main.browse .contact details[open] .pop-out {
			border-color: #e6e6e6;
			border-radius: 0.25em;
			box-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.25);
		}

		main.browse .contact details[open] .pop-out::before {
			top: calc(50% - 0.75rem);
			left: calc(-0.8125rem);
			border-color: #e6e6e6;
			width: 0.75rem;
			height: 0.75rem;
		}
	}