/*========================================
	Site.css
========================================*/

/*========================================
	Footer
========================================*/

footer.site > *,
footer.site .icons ul li {
	margin: 1rem 2rem;
}

footer.site .icons ul {
	display: flex;
	flex-wrap: wrap;
}

footer.site .about,
footer.site .quick-links {
	display: inline-block;
}

@media (min-width: 37.5rem) {
	footer.site {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	footer.site > * {
		margin: 0.5rem 1rem;
	}

	footer.site .page-links {
		flex-basis: 9.7rem;
		order: -3;
		flex-grow: 5;
	}

	footer.site .about,
	footer.site .quick-links {
		flex-grow: 1;
	}

	footer.site .about {
		order: -2;
	}

	footer.site .quick-links {
		order: -1;
	}

	footer.site .icons {
		flex-basis: 37rem;
	}
}


/*========================================
	Browse.css
========================================*/

/*========================================
	Layout
========================================*/

main.browse {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}

@media (min-width: 37.5rem) {
	main.browse {
		grid-template: auto 1fr/12.5rem 1fr;
	}

	main.browse .results {
		grid-row: span 2;
	}

	main.browse .contact {
		grid-row-start: 2;
		align-self: stretch;
	}
}


/*========================================
	Article.css
========================================*/

/*========================================
	Layout
========================================*/

main.article {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}

@media (min-width: 56.25rem) {
	main.article {
		grid-template-columns: minmax(60ch, 3fr) 1fr;
	}
}

/*========================================
	Footer
========================================*/

main.article footer.article {
	align-self: start;
	display: grid;
	grid-gap: 1rem;
	align-items: start;
}

@media (min-width: 37.5rem) and (max-width: 56.249rem) {
	main.article footer.article {
		grid-template-columns: auto 1fr;
	}
}


/*========================================
	Contact.css
========================================*/

/*========================================
	Layout
========================================*/

main.contact .container {
	display: grid;
	grid-template: repeat(4, auto) / 1fr;
	grid-gap: 1rem;
}

@media (min-width: 37.5rem) {
	main.contact .container {
		grid-template: repeat(3, auto) / 1fr 1fr;
	}
}

/*========================================
	Header
========================================*/

@media (min-width: 37.5rem) {
	main.contact .container > header {
		grid-column: span 2;
	}
}

/*========================================
	Email
========================================*/

main.contact .email form {
	grid-template-columns: repeat(4, 100%);
	align-items: start;
}

@media (min-width: 37.5rem) {
	main.contact .email {
		grid-column: span 2;
	}
}