/*========================================
	Layout
========================================*/

	main.contact .container > section {
		border-color: #e6e6e6;
	}


/*========================================
	Header
========================================*/

	main.contact .container > header > h2 {
		border-bottom-color: #cd2814;
	}


/*========================================
	Email
========================================*/

	main.contact .email .previous {
		color: #333;
	}