/*========================================
	Variables
========================================*/

	:root {
		--colour-brand: #cd2814;
		--colour-alt: #282832;
		--colour-light: #e6e6e6;
		--border-rounded: 0.25em;
	}


/*========================================
	Base Elements
========================================*/

/*Layout*/

	html {
		color: #333;
		font: 100%/1.5 Arial, Helvetica, sans-serif;
	}

	body {
		max-width: 75rem;
		margin: 0 auto;
	}

/*Headings*/

	h1,
	.h1 {
		font-size: 2.9em;
	}

	h2,
	.h2 {
		font-size: 2.4em;
	}

	h3,
	.h3 {
		font-size: 2em;
	}

	h4,
	.h4 {
		font-size: 1.5em;
	}

	h5,
	.h5 {
		font-size: 1.17em;
	}

	h6 {
		font-size: 1em;
	}


/*Links*/

	a:link {
		color: var(--colour-brand);
	}

	a:visited {
		color: #8c190f;
	}

	a:hover {
		color: #767676;
	}


/*Lists*/

	ul,
	ol {
		padding-left: 2.5rem;
	}

	li > ul,
	li > ol	{
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	ul.no-bullets,
	li.yes,
	li.no,
	ol.cascade li,
	ol.cascade li.heading :first-child {
		list-style-type: none;
		position: relative;
	}

	li.yes::before,
	li.no::before,
	ol.cascade li::before,
	ol.cascade li.heading :first-child::before	{
		position: absolute;
		right: 100%;
	}

	li.yes::before {
		content: '\2714\00a0';
		color: #007b20;
	}

	li.no::before {
		content: '\2718\00a0';
		color: #c81a21;
	}

	ol.cascade,
	ol.cascade ol,
	ol.cascade ol ol {
		counter-reset: section;
		position: relative;
	}

	ol.cascade li::before {
		counter-increment: section;
		content: counters(section, ".") ".\00a0";
	}

	ol.cascade li.heading::before {
		content: '';
	}

	ol.cascade li.heading > :first-child::before {
		content: counters(section, ".") ".\00a0";
	}

	ol.cascade ul li::before {
		content: none;
	}

	ol.cascade ul li {
		list-style-type: disc;
	}

	ol.cascade ul ul {
		list-style-type: square;
	}

	ol.cascade ul ul ul {
		list-style-type: circle;
	}

	ol.cascade ul ol li {
		list-style-type: lower-alpha;
	}

	ol.cascade ul ol ol li {
		list-style-type: lower-roman;
	}

	dt {
		font-weight: 700;
	}

	dd {
		margin-bottom: 0.5em;
		margin-left: 2.5rem;
	}


/*Details and Summary*/

	details {
		display: block;
		margin: 0.5rem 0 1rem 0;
		border-top-left-radius: var(--border-rounded);
		border-top-right-radius: var(--border-rounded);
	}

	details[open] {
		padding: 0 1rem 1rem 2rem;
	}

	summary {
		font-weight: 700;
		padding: 0.5rem 1rem;
		cursor: pointer;
		background-color: var(--colour-light-light);
		border-radius: var(--border-rounded);
	}

	details.collapse,
	details.collapse summary {
		width: fit-content;
	}

	details[open] summary {
		width: calc(100% + 1rem);
		margin: 0 0 1rem -2rem;
		border-bottom: 0.0625rem solid var(--colour-brand-med-light);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	details[open] *:last-child {
		margin-bottom: 0;
	}

	table td summary {
		margin-left: auto;
		margin-right: auto;
	}

	table td details[open] {
		margin-left: auto;
		margin-right: auto;
	}

	table td details[open] summary {
		margin-left: -0.75rem;
	}

	summary.minimal {
		background-color: transparent;
		border: none;
		font-weight: inherit;
	}


/*Tables*/

	table {
		border-collapse: collapse;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		display: block;
		overflow-x: auto;
		max-width: calc(100vw - 4rem);
	}

	th,
	td {
		border: 0.0625rem solid var(--colour-light);
		text-align: center;
		vertical-align: middle;
		padding: 0.5rem;
	}

	th {
		background-color: var(--colour-light);
		font-weight: 700;
	}

	th[scope=col] {
		border-bottom-color: var(--colour-brand);
		vertical-align: bottom;
	}

	th[scope=row] {
		border-right-color: var(--colour-brand);
		text-align: right;
	}

	table td.empty,
	table th.empty {
		border: none;
		background-color: transparent;
	}

	table.guided tbody tr:hover {
		background-color: var(--colour-light);
	}

	th.vertical {
		width: 1em;
		text-align: center;
	}

	th.vertical div {
		transform: rotate(270deg);
	}


/*Images*/

	img {
		align-self: start;
		justify-self: start;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}

	figure {
		display: block;
		margin: 0.5rem 1rem 1rem 0rem;
	}

	figcaption {
		font-size: 0.75em;
		color: var(--colour-dark-light);
		display: block;
	}

	figure a {
		text-decoration: none;
	}

	figure a:link,
	figure a:visited,
	figure a:hover {
		color: var(--colour-dark-light);
	}

	figure a:hover {
		text-decoration: underline;
	}


/*Buttons*/

	button,
	.button {
		display: block;
		cursor: pointer;
		background-color: var(--colour-alt-dark);
		padding: 0.5rem 1rem;
		min-width: 3rem;
		line-height: 2rem;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		border-radius: var(--border-rounded);
	}

	button:active,
	.button:active {
		background-color: var(--colour-alt-light);
	}

	button[disabled] {
		background-color: var(--colour-light-med-light);
		cursor: not-allowed;
	}

	a.button,
	a.button:visited,
	a.button:link {
		color: #fff;
		text-decoration: none;
	}


/*Other*/

	hr {
		margin: 0.5rem 0;
		border: none;
		border-top: 0.0625rem solid var(--colour-brand-light);
	}

	input {
		box-sizing: border-box;
		padding: 0.5rem 1rem;
		border-radius: var(--border-rounded);
		min-height: 3rem;
		width: 100%;
	}


/*========================================
	Utility Classes
========================================*/

	@media (max-width: 37.4375rem) {
		.hide-narrow {
			display: none !important;
		}
	}

	@media (min-width: 37.5rem) {
		.hide-wide {
			display: none !important;
		}
	}

	.a11y {
		position: absolute !important;
		top: auto !important;
		left: -100vw !important;
		width: 1px !important;
		height: 1px !important;
		margin: 0 !important;
		border: 0 !important;
		padding: 0 !important;
		overflow: hidden !important;
		clip-path: inset(50%) !important;
	}

	.group {
		display: flow-root;
	}

	.group::after {
		content: "";
		display: table;
		clear: both;
	}

	.column,
	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
	}

	.column {
		flex-direction: column;
	}

	.row {
		flex-direction: row;
	}

	.column > *,
	.row > * {
		flex: 0 1 auto;
	}

	.no-wrap {
		white-space: nowrap;
	}







footer {
	filter: grayscale(100%);
	background-color: #191919;
}

/*
	footer {
		background-color: #191919;
		color: #ccc;
		--colour-alt: #595959;
	}

	footer h2 {
		color: #a6a6a6;
	}

	footer a:link,
	footer a:visited {
		color: #ccc;
	}

	footer a:hover {
		color: #fff;
	}*/