/*========================================
	Variables
========================================*/

	:root {
		--media-narrow: 37.4375;
		--media-wide: 37.5rem;
		--colour-brand-dark: #b2171e;
		--colour-brand-med-dark: #c81a21;
		--colour-brand-med-light: #ce2816;
		--colour-brand-light: #e91b23;
		--colour-alt-dark: #252835;
		--colour-alt-light: #3a3d48;
		--colour-action: #8bbe00;
		--colour-dark-dark: #181818;
		--colour-dark-med: #343434;
		--colour-dark-light: #5a5a5a;
		--colour-light-dark: #818181;
		--colour-light-med-dark: #d2d2d2;
		--colour-light-med-light: #e9e9e9;
		--colour-light-light: #f1f1f1;
		--border-rounded: 0.25em;
	}


/*========================================
	Base Elements
========================================*/

/*Layout*/

	html, body {
		color: #323232;
		font: 100%/1.5 Arial, Helvetica, sans-serif;
		text-align: start;
	}

	body {
		background-color: var(--colour-light-light);
		max-width: 75rem;
		margin: 0 auto;
	}


/*Text*/
	p {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}

	i,
	em,
	cite {
		font-style: italic;
	}

	b,
	strong{
		font-weight: 700;
	}

	u {
		text-decoration: underline;
	}

	q {
		quotes: "\201C" "\201D" "\2018" "\2019";
		font-style: italic;
	}

	q::before {
		content: open-quote;
	}

	q::after {
		content: close-quote;
	}

	sup,
	sub {
		font-size: 0.75em;
		line-height: 0;
	}

	sup {
		vertical-align: super;
	}

	sub {
		vertical-align: sub;
	}

	small {
		font-size: 0.75em;
	}

	mark {
		background-color: #ffff00;
		color: #323232;
	}


/*Headings*/

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: block;
		font-weight: 700;
	}

	h1,
	.h1 {
		font-size: 2.1em;
	}

	h2,
	.h2 {
		font-size: 1.8em;
	}

	h3,
	.h3 {
		font-size: 1.5em;
	}

	h4,
	.h4 {
		font-size: 1.2em;
	}

	h5,
	.h5 {
		font-size: 1em;
	}

	h6 {
		font-size: 1em;
	}


/*Links*/

	a {
		text-decoration: underline;
	}

	a:link {
		color: var(--colour-brand-med-light);
	}

	a:visited {
		color: var(--colour-brand-dark);
	}

	a:hover {
		color: var(--colour-dark-light);
	}


/*Lists*/

	ul,
	ol {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		padding-left: 2.5rem;
	}

	p + ol,
	p + ul {
		margin-top: -0.75rem;
	}

	ul {
		list-style-type: disc;
	}

	ul ul {
		list-style-type: circle;
	}

	ul ul ul {
		list-style-type: square;
	}

	ol {
		list-style-type: decimal;
	}

	ol ol {
		list-style-type: lower-alpha;
	}

	ol ol ol {
		list-style-type: lower-roman;
	}

	ul.no-bullet {
		list-style-type: none;
		padding-left: 0;
	}

	li.yes,
	li.no {
		list-style-type: none;
	}

	li.yes::before,
	li.no::before {
		margin-left: -1.1em;
	}

	li.yes::before {
		content: '\2714\00a0';
		color: #007b20;
	}

	li.no::before {
		content: '\2718\00a0';
		color: var(--colour-brand-med-dark);
	}

	ol.cascade,
	ol.cascade ol,
	ol.cascade ol ol {
		counter-reset: section;
		list-style-type: none;
		position: relative;
	}

	ol.cascade li::before {
		counter-increment: section;
	}

	ol.cascade li::before,
	ol.cascade li.heading > h1:first-child::before,
	ol.cascade li.heading > h2:first-child::before,
	ol.cascade li.heading > h3:first-child::before,
	ol.cascade li.heading > h4:first-child::before,
	ol.cascade li.heading > h5:first-child::before,
	ol.cascade li.heading > h6:first-child::before {
		content: counters(section, ".") ". ";
		position: absolute;
		right: calc(100% - 2.5rem + 0.25ch);
	}

	ol.cascade li.heading::before {
		content: "";
	}

	ol.cascade li.heading > ol {
		padding-left: 0;
	}

	ol.cascade li.heading > ol > li::before {
		right: calc(100% + 0.25ch);
	}

	ol.cascade ol.lower-alpha li::before,
	ol.cascade ol.upper-alpha li::before,
	ol.cascade ol.lower-roman li::before,
	ol.cascade ol.upper-roman li::before {
		content: "";
	}

	ol.cascade ol.lower-alpha ol,
	ol.cascade ol.upper-alpha ol,
	ol.cascade ol.lower-roman ol,
	ol.cascade ol.upper-roman ol {
		list-style-type: initial;
	}

	ol.lower-alpha > li {
		list-style-type: lower-alpha;
	}

	ol.upper-alpha > li {
		list-style-type: upper-alpha;
	}

	ol.lower-roman > li {
		list-style-type: lower-roman;
	}

	ol.upper-roman > li {
		list-style-type: upper-roman;
	}

	ul.circle > li {
		list-style-type: circle;
	}

	ul.disc > li {
		list-style-type: disc;
	}

	ul.square > li {
		list-style-type: square;
	}

	dl {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}

	dt {
		font-weight: 700;
		margin-bottom: -0.25rem;
	}

	dd {
		margin: 0.5rem 0 1rem 2rem;
	}


/*Details and Summary*/

	details {
		display: block;
		margin: 0.5rem 0 1rem 0;
		border-top-left-radius: var(--border-rounded);
		border-top-right-radius: var(--border-rounded);
	}

	details[open] {
		padding: 0 1rem 1rem 2rem;
	}

	summary {
		font-weight: 700;
		padding: 0.5rem 1rem;
		cursor: pointer;
		background-color: var(--colour-light-light);
		border-radius: var(--border-rounded);
	}

	details.collapse,
	details.collapse summary {
		width: fit-content;
	}

	details[open] summary {
		width: calc(100% + 1rem);
		margin: 0 0 1rem -2rem;
		border-bottom: 0.0625rem solid var(--colour-brand-med-light);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	details[open] *:last-child {
		margin-bottom: 0;
	}

	table td summary {
		margin-left: auto;
		margin-right: auto;
	}

	table td details[open] {
		margin-left: auto;
		margin-right: auto;
	}

	table td details[open] summary {
		margin-left: -0.75rem;
	}

	summary.minimal {
		background-color: transparent;
		border: none;
		font-weight: inherit;
	}


/*Tables*/

	table {
		border-collapse: collapse;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		display: block;
		overflow-x: auto;
		max-width: calc(100vw - 4rem);
	}

	th,
	td {
		border: 0.0625rem solid var(--colour-light-med-light);
		text-align: center;
		vertical-align: middle;
		padding: 0.5rem;
	}

	th {
		background-color: var(--colour-light-light);
		font-weight: 700;
	}

	th[scope=col] {
		border-bottom-color: var(--colour-brand-med-light);
		vertical-align: bottom;
	}

	th[scope=row] {
		border-right-color: var(--colour-brand-med-light);
		text-align: right;
	}

	table td.empty,
	table th.empty {
		border: none;
		background-color: transparent;
	}

	table.guided tbody tr:hover {
		background-color: var(--colour-light-light);
	}

	th.vertical {
		width: 1em;
		text-align: center;
	}

	th.vertical div {
		transform: rotate(270deg);
	}


/*Images*/

	img {
		align-self: start;
		justify-self: start;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}

	figure {
		display: block;
		margin: 0.5rem 1rem 1rem 0rem;
	}

	figcaption {
		font-size: 0.75em;
		color: var(--colour-dark-light);
		display: block;
	}

	figure a {
		text-decoration: none;
	}

	figure a:link,
	figure a:visited,
	figure a:hover {
		color: var(--colour-dark-light);
	}

	figure a:hover {
		text-decoration: underline;
	}


/*Buttons*/

	button,
	.button {
		display: block;
		cursor: pointer;
		background-color: var(--colour-alt-dark);
		padding: 0.5rem 1rem;
		min-width: 3rem;
		line-height: 2rem;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		border-radius: var(--border-rounded);
	}

	button:active,
	.button:active {
		background-color: var(--colour-alt-light);
	}

	button[disabled] {
		background-color: var(--colour-light-med-light);
		cursor: not-allowed;
	}

	a.button,
	a.button:visited,
	a.button:link {
		color: #fff;
		text-decoration: none;
	}


/*Other*/

	hr {
		margin: 0.5rem 0;
		border: none;
		border-top: 0.0625rem solid var(--colour-brand-light);
	}

	input {
		box-sizing: border-box;
		padding: 0.5rem 1rem;
		border-radius: var(--border-rounded);
		min-height: 3rem;
		width: 100%;
	}


/*========================================
	Utility Classes
========================================*/

	@media (max-width: 599px) {
		.wide {
			display: none !important;
		}
	}

	@media (min-width: 600px) {
		.narrow {
			display: none !important;
		}
	}

	.a11y {
		position: absolute !important;
		top: auto !important;
		left: -1px !important;
		width: 1px !important;
		height: 1px !important;
		margin: 0 !important;
		border: 0 !important;
		padding: 0 !important;
		overflow: hidden !important;
		clip-path: inset(50%) !important;
	}

	.group {
		display: flow-root;
	}

	.group::after {
		content: "";
		display: table;
		clear: both;
	}

	.column,
	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
	}

	.column {
		flex-direction: column;
	}

	.row {
		flex-direction: row;
	}

	.column > *,
	.row > * {
		flex: 0 1 auto;
	}

	.no-wrap {
		white-space: nowrap;
	}