/*========================================
	Site.css
========================================*/

/*========================================
	Contact
========================================*/

main .contact dialog {
	width: 15rem;
}


/*========================================
	Footer
========================================*/

footer.site > *,
footer.site .icons ul li {
	margin: 1rem 2rem;
}

footer.site .icons ul {
	display: flex;
	flex-wrap: wrap;
}

footer.site .about,
footer.site .quick-links {
	display: inline-block;
}

@media (min-width: 37.5rem) {
	footer.site {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	footer.site > * {
		margin: 0.5rem 1rem;
	}

	footer.site .page-links {
		flex-basis: 9.7rem;
		order: -3;
		flex-grow: 5;
	}

	footer.site .about,
	footer.site .quick-links {
		flex-grow: 1;
	}

	footer.site .about {
		order: -2;
	}

	footer.site .quick-links {
		order: -1;
	}

	footer.site .icons {
		flex-basis: 37rem;
	}
}


/*========================================
	Browse.css
========================================*/

/*========================================
	Layout
========================================*/

main.browse {
	display: block;
}

main.browse .results {
	margin: 1rem 0;
}

@media (min-width: 37.5rem) {
	main.browse .topics,
	main.browse .contact {
		float: left;
		width: 12.5rem;
	}

	main.browse .contact {
		width: 10.5rem;
		margin-top: 1rem;
	}

	main.browse .results {
		margin: 0;
		float: right;
		width: calc(100% - 15.5rem);
		height: 51.5rem;
	}

	main.browse::after {
		display: table;
		content: '';
		clear: both;
	}
}


/*========================================
	Results
========================================*/

main.browse .results nav > * {
	margin: auto;
}


/*========================================
	Article.css
========================================*/

/*========================================
	Layout
========================================*/

main.article {
	display: block;
}

main.article footer.article .related {
	margin: 1rem 0;
}

@media (min-width: 37.5rem) {
	main.article footer.article {
		display: flex;
		align-items: flex-start;
	}

	main.article footer.article .related,
	main.article footer.article .contact {
		margin: 1rem 0 0 0;
		flex-grow: 1;
	}

	main.article footer.article .related {
		margin-right: 1rem;
		flex-grow: 3;
		flex-basis: 30rem;
	}
}

@media (min-width: 56.25rem) {
	main.article {
		display: flex;
		align-items: flex-start;
	}

	main.article article {
		align-self: stretch;
		margin-right: 1rem;
		flex: 2 1 40rem;
	}

	main.article footer.article {
		flex-wrap: wrap;
		flex: 1 1 14rem;
	}

	main.article footer.article .related {
		margin: 0;
		width: 100%;
	}
}


/*========================================
	Contact.css
========================================*/

/*========================================
	Layout
========================================*/

main.contact {
	display: block;
}

main.contact .container > header {
	margin-bottom: 2rem;
}

main.contact .container > section {
	margin-top: 1rem;
}

@media (min-width: 37.5rem) {
	main.contact .container {
		display: flex;
		flex-wrap: wrap;
	}

	main.contact .container > header {
		width: 100%;
		margin-bottom: 0;
	}

	main.contact .container .chat,
	main.contact .container .call {
		flex: 1 0 1rem;
	}

	main.contact .container .chat {
		margin-right: 1rem;
	}

	main.contact .container .email {
		width: 100%;
	}
}