{{ define "main" }}

<main class="article">
	<article>
		<header>
			<h1 id="articleTitle">{{ .Title }}</h1>
		</header>
		<div class="content">

			{{ .Content }}

		</div>
	</article>

	<footer class="article">
		<section class="related">
			<h2 class="h4">Related Articles</h2>
			<ul class="articles-list" id="relatedArticlesList">
				<li><a href="javascript:void(0)"></a></li>
				<li><a href="javascript:void(0)"></a></li>
				<li><a href="javascript:void(0)"></a></li>
				<li><a href="javascript:void(0)"></a></li>
				<li><a href="javascript:void(0)"></a></li>
			</ul>
		</section>

		<section class="contact">
			<h2 class="h4">Contact Us</h2>
			<ul class="no-bullets">
				<li><button id="chatButton">Chat</button>
					<dialog id="chatDialogue">
						<p>You must be logged in to chat</p>
						<a class="button" href="javascript:void(0)">Log In</a>
						<button id="chatClose">Cancel</button>
					</dialog>
					<script>
						// Check for Dialog element support
						if (!('show' in document.createElement('dialog'))) {
							// Load polyfill if unsupported
							dialogPolyfill.registerDialog(chatDialogue);
						}
					</script>
				</li>
				<li><details>
						<summary class="button">Call</summary>
						<ul class="no-bullets">
							<li>UK: <a class="no-wrap" href="tel:08081571234">0808 157 1234</a></li>
							<li>Outside the UK: <a class="no-wrap" href="tel:+441632961234">+44 1632 961 234</a></li>
						</ul>
					</details>
				</li>
				<li><a href="/pages/contact" class="button">Email</a></li>
			</ul>
		</section>
	</footer>
</main>

{{ end }}