/*========================================
	Layout
========================================*/

	main.browse .results,
	main.browse .contact {
		background: #fff;
		padding: 1rem;
	}

	main.browse {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
	}

	@media (min-width: 37.5rem) {
		main.browse {
			grid-template: auto 1fr/12.5rem 1fr;
		}

		main.browse .results {
			grid-row: span 2;
		}

		main.browse .contact {
			grid-row-start: 2;
			align-self: stretch;
		}
	}


/*========================================
	Topics
========================================*/

	main.browse .topics summary {
		display: block;
		box-sizing: border-box;
		background-color: var(--colour-alt);
		width: auto;
		height: 3rem;
		color: #fff;
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0 1rem;
	}

	main.browse .topics summary::-webkit-details-marker {
		display: none;
	}

	main.browse .topics summary::before {
		content: '';
		width: 1rem;
		height: 1rem;
		float: left;
		background: url('../img/arrow.svg') -0.5rem center/1.5rem 1rem no-repeat;
		--translate: translatey(calc((3rem - 100%) / 2));
		transform: matrix(-1, 0, 0, -1, 0, 16);
		transform: var(--translate) rotate(0.5turn);
	}

	main.browse .topics details[open] summary::before {
		transform: matrix(0, -1, 1, 0, 0, 16);
		transform: var(--translate) rotate(-0.25turn);
	}

	main.browse .topics summary h2 {
		margin: 0;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 2;
	}

	main.browse .topics details[open] {
		background-color: #fff;
		padding: 0 1rem 1rem;
		margin: 0;
	}

	main.browse .topics details[open] summary {
		width: calc(100% + 2rem);
		margin: 0 0 1rem -1rem;
	}

	main.browse .topics details[data-disabled] summary {
		cursor: auto;
		filter: none;
		transform: none;
		box-shadow: none;
	}

	main.browse .topics ul {
		padding: 0;
		margin: 0;
	}

	main.browse .topics button,
	main.browse .topics .button {
		width: 100%;
	}

	main.browse .topics button {
		margin-bottom: 1rem;
		position: relative;
	}

	main.browse .topics li:last-child button {
		margin-bottom: 0;
	}

	@media (min-width: 37.5rem) {
		main.browse .topics details[open] {
			padding-top: 1rem;
		}

		main.browse .topics details[open] summary {
			color: var(--colour-default);
			background-color: #fff;
			border: 0;
			height: auto;
			width: 100%;
			margin-left: 0;
			padding: 0;
			outline: none;
		}

		main.browse .topics summary::before {
			content: none;
		}

		main.browse .topics summary h2 {
			line-height: 1.5;
			border-bottom: 0.0625rem solid var(--colour-brand);
		}
	}


/*========================================
	Results
========================================*/

	main.browse .results h1 {
		margin: 0;
		text-align: center;
		border-bottom: 0.0625rem solid var(--colour-brand);
	}

	main.browse .results .loading {
		position: absolute;
		width: 100%;
		top: 2rem;
	}

	main.browse .results .loading svg {
		width: 100%;
		animation: 1s step-end reveal, 1.5s linear 20 loading;
	}

	main.browse .results .loading p {
		text-align: center;
		animation: 1s step-end reveal;
	}

	@keyframes reveal {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes loading {
		from {
			transform: rotate(0turn);
		}

		to {
			transform: rotate(1turn);
		}
	}

	main.browse .results ul {
		flex-grow: 1;
	}

	ul.articles-list > li > p {
		margin: 0;
		color: var(--colour-default);
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 3rem;
	}

	main.browse .results nav {
		justify-content: space-between;
		align-items: center;
	}

	main.browse .results .page-count {
		order: 2;
	}

	main.browse .results .backward {
		order: 1;
	}

	main.browse .results .forward {
		order: 3;
	}

	main.browse .results .first,
	main.browse .results .next {
		margin-right: 1rem;
	}

	main.browse .results nav button {
		box-sizing: border-box;
		padding: 0;
	}

	main.browse .results nav button::before {
		content: '\00a0';
		display: block;
		height: 3rem;
		background: url('../img/arrow.svg') 0 center/1.125rem .75rem no-repeat;
	}

	main.browse .results .first::before,
	main.browse .results .last::before {
		width: 1.125rem;
	}

	main.browse .results .previous::before,
	main.browse .results .next::before {
		width: 0.75rem;
		background-position-x: -0.375rem;
	}

	main.browse .results .first::before,
	main.browse .results .previous::before {
		transform: matrix(1, 0, 0, 1, 18, 0);
		transform: translateX(calc((3rem - 100%) / 2));
	}

	main.browse .results .last::before,
	main.browse .results .next::before {
		transform: matrix(-1, 0, 0, -1, 18, 0);
		transform: translateX(calc((3rem - 100%) / 2)) rotate(0.5turn);
	}

	@media (min-width: 37.5rem) {
		main.browse .results nav {
			margin-bottom: 1.75rem;
		}
	}

	@media (max-width: 21rem),
		(min-width: 37.5rem) and (max-width: 40rem) {
		main.browse .results nav {
			font-size: 75%;
		}
	}

	@media (max-width: 25rem) {
		main.browse .results .page-text {
			position: absolute;
			top: auto;
			left: -100vw;
			width: 1px;
			height: 1px;
			margin: 0t;
			border: 0;
			padding: 0;
			overflow: hidden;
			clip-path: inset(50%);
		}

		main.browse .results .first,
		main.browse .results .next {
			margin-right: 0.25rem;
		}
	}


/*========================================
	Contact
========================================*/

	main.browse .contact {
		align-self: start;
	}

	main.browse .contact h2 {
		font-weight: 400;
		text-align: center;
		margin: 0 0 1rem;
		border-bottom: 0.0625rem solid var(--colour-brand);
	}

	main.browse .contact ul {
		padding: 0;
		margin: 0;
	}

	main.browse .contact button,
	main.browse .contact .button {
		width: 100%;
		margin: 0 0 1rem;
	}

	main.browse .contact .button:last-child {
		margin-bottom: 0;
	}

	main.browse .contact dialog {
		top: -0.5rem;
		padding: 0rem 2rem;
		text-align: center;
	}

	main.browse .contact dialog .button {
		display: block;
		margin: 1rem auto;
		width: 10.5rem;
	}

	main.browse .contact dialog button {
		display: block;
		width: auto;
		margin: 0 auto 1rem;
		background-color: transparent;
		color: var(--colour-default);
		text-decoration: underline;
		box-shadow: none;
		padding: 0;
		min-height: 0;
	}

	main.browse .contact summary::-webkit-details-marker {
		display: none;
	}

	main.browse .contact details[open] summary {
		width: calc(100% + 2rem);
		margin-left: -1rem;
		margin-bottom: 1rem;
		border-radius: var(--border-rounded);
	}

	main.browse .contact details[open] {
		padding: 0 1rem 1rem;
		margin-top: 0;
	}

	main.browse .contact details li {
		margin-bottom: 1rem;
	}

	@media (min-width: 37.5rem) {
		main.browse .contact details[open] {
			position: relative;
			padding-bottom: 0;
			margin-bottom: 1rem;
			box-shadow: none;
		}

		main.browse .contact details[open] summary {
			border-bottom: none;
			margin-bottom: 0;
		}

		main.browse .contact details[open] .pop-out {
			position: absolute;
			left: calc(100% + 1.0625rem);
			top: 50%;
			transform: translateY(-50%);
			background: #fff;
			padding: 1.5rem;
			border: 0.0625rem solid var(--colour-light);
			border-radius: var(--border-rounded);
			box-shadow: var(--shadow-default);
		}

		main.browse .contact details[open] .pop-out::before {
			--size: 1.5rem;
			content: '';
			display: block;
			position: absolute;
			transform: rotate(45deg);
			top: calc(50% - (var(--size)/2));
			left: calc(-1 * (var(--size)/2) - 0.0625rem);
			border: 0.0625rem solid var(--colour-light);
			border-top: none;
			border-right: none;
			width: var(--size);
			height: var(--size);
			background: #fff;
		}

		main.browse .contact details[open] .pop-out li:last-child {
			margin-bottom: 0;
		}
	}