dialog {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
}

dialog:not([open]) {
	display: none;
}

@supports not ((width: -moz-fit-content) or (width: -webkit-fit-content)) {
	dialog {
		width: 100%;
	}
}