<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }} - Labdrakes Help</title>
	<link rel="icon" href="{{ .Site.BaseURL }}img/favicon.png">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/site.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{ .Params.link }}.css">
	<script src="{{ .Site.BaseURL }}js/{{ .Params.link }}.js" defer></script>
	<script src="{{ .Site.BaseURL }}js/chatdialogue.js" defer></script>
	<script>
		// Check for Details element support
		if (!('open' in document.createElement('details'))) {
			document.write('<script src="{{ .Site.BaseURL }}js/polyfill-details-summary.js"><\/script>');
		}
		// Check for Dialog element support
		if (!('show' in document.createElement('dialog'))) {
			document.write('<script src="{{ .Site.BaseURL }}js/polyfill-dialog.js"><\/script><link rel="stylesheet" href="{{ .Site.BaseURL }}css/polyfill-dialog.css">');
		}
		// Check for Custom Properties support
		if (!this.CSS||!CSS.supports('--custom','properties')) {
			document.write('<link rel="stylesheet" href="{{ .Site.BaseURL }}css/fallback-customproperties.css">');
		}
		// Check for Grid support
		if (!this.CSS||!CSS.supports('grid-area','auto')) {
			document.write('<link rel="stylesheet" href="{{ .Site.BaseURL }}css/fallback-grid.css">');
		}
	</script>
</head>